body {
    margin: 0px;
    background-color: #eae5d6;
}

.title, .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border: 2px solid #75726b;
    flex-direction: column;
    transition: all 0.5s;
    box-shadow: 4px 4px 5px #888888;
    margin: 10px;
}

.name {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    font-family: fantasy;
    font-size: 1.5em;
    border-top: 2px solid #75726b;
    height: 40px;
}

h1 {
    font-family: fantasy;
    font-size: 3em;
    border: 2px solid #75726b;
    width: 400px;
    text-align: center;
    /* box-shadow: 4px 4px 5px #888888; */
    margin-top: 10px;
}

img {
    width: 180px;
    height: 180px;
}

.card:hover {
    transform: scale(1.1);
}

