body {
    margin: auto 0;
    background-color: #eae5d6;
}
.main-nav {
    display: flex;
    list-style: none;
    font-size: 1.3em;
    margin: 0;
}

@media only screen and (max-width: 600px) {
    .main-nav {
        font-size: 1em;
        padding: 0px;
    }
}

li {
    padding: 20px;
}

a {
    color: black;
    text-decoration: none;
}

.push {
    margin-left: auto;
}

.cover {
    display: flex;
    align-items: center;
    justify-content: center;
}

.coverimage {
    height: 100%;
    width: 100%;
}
.title, .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.grid-wrapper {
   display: grid;
   grid-gap: 10px;
   justify-items: center;
   align-items: center;
}

.card1 {
    display: grid;
    justify-items: center;
    align-items: center;
    border: 2px solid #75726b;
    flex-direction: column;
    transition: all 0.5s;
    box-shadow: 4px 4px 5px #888888;
    margin: 2px 30px;
}

.circle {
  position: relative;
  border-radius: 50%;
  height: 50%;
}

h2 {
    font-family: fantasy;
    font-size: 2em;
    border: 2px solid #75726b;
    width: 200px;
    text-align: center;
    margin-top: 10px;
}

p {
    display: grid;
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
    font-family: fantasy;
    font-size: 1.5em;
    margin: 30px;
}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border: 2px solid #75726b;
    flex-direction: column;
    transition: all 0.5s;
    box-shadow: 4px 4px 5px #888888;
    margin: 10px;
}

.name {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    font-family: fantasy;
    font-size: 1.5em;
    border-top: 2px solid #75726b;
    height: 40px;
}

h1 {
    font-family: fantasy;
    font-size: 3em;
    border: 2px solid #75726b;
    width: 400px;
    text-align: center;
    margin-top: 90px;
}

img {
    width: 160px;
    height: 160px;
}

.card:hover {
    transform: scale(1.1);
}

.card1:hover {
    transform: scale(1.02);
}