body {
    margin: 0px;
    background-color: #eae5d6;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
h1 {
    font-family: fantasy;
    font-size: 3em;
    border-bottom: 2px solid #75726b;
    border-right: 2px solid #75726b;
    width: 400px;
    text-align: center;
    box-shadow: 4px 4px 5px #888888;
    margin-top: 10px;
}

img {
    width: 180px;
    height: 180px;
    margin: 10px;
    transition: all 0.5s;
}

img:hover {
    transform: rotateY(180deg);
}

